#profile{
  display: flex;
  flex-direction: column;
  position:-webkit-sticky;
  position: sticky;
  left: 0;
  padding-top: 8vh;
}

#profile >div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#profile >div:first-child p{
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 1rem;
}
#profile >div:first-child button{
  width: 40%;
  margin-left:  50%;

}
.header img{
  height: 15vw;
  width: 100%;
  border-radius: 10px;
}
.profilePhoto img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.profilePhoto {
  margin-top: -8vw;
  margin-left: 2vw;
}
#profile div:last-child{
  margin-top: 2vh;
}
#profileEditBtn{
  width: 100%;
  font-size: 2.5vw;
  padding: 2%;
  text-align: center;
}
/*EditProfile*/
#editProfile{
  position:-webkit-sticky;
  position: sticky;
  top:8vh;
  left: 0;

}
.editImg{
  position: relative;
}
.editImg input{
  display: none;
}
.editImg label{
  position:absolute;
  color: rgba(161, 161, 161, 0.699);
}

#editProfile_header label{
  top:20%;
  left:60%;
  background-color: initial;
}
#editProfile_photo label{
  top:20%;
  left: 8%;
  background-color: initial;
}

#editProfile > div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3vw;
  text-align: center;
}
#editProfile p {
  font-weight: bolder;
  padding-top: 0.5vw;
  padding-left: 1.5vw;

}
#editProfile button{
  background-color:initial;
  border-radius: 20px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 10% 5%;
  color: rgb(131, 131, 131);
  background-color: none;
}
#editProfile button:hover{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.userName , .introduce{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 3vw;
}
.userName div, .introduce div{
  margin-bottom: 10px;
}
.userName input , .introduce input{
  font-size: 3vw;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5%;
}
#editBtn{
  margin-top: 5vw;
  margin-left: 25%;
  padding: 1vw 4vw ;
  font-size: 3vw;
  background-color:rgb(191, 218, 240);
  border: none;
  border-radius: 45px;
}
#editBtn:hover{
  background-color:rgb(35, 123, 223); 
  color: #fff;
}

@media screen and (min-width:1024px) {
  .header img{
    height: 10vw;
  }
  .profilePhoto{
    margin-top: -4vw;
  }
  .profilePhoto img{
    width: 9vw;
    height: 9vw;
  }
  #profile div:last-child{
    margin-top: 4vh;
  }
  .userName , .userName input,.introduce , .introduce input, 
  #editBtn, #profileEditBtn{
    font-size: 1.2rem;
  }
  .userName{
    margin-top: 4vw;
  }
  .introduce , #profileBtn{
    margin-top: 2vw;
  }
  #editProfile button{
    font-size: 1.5rem;
    padding-top: 12% ;
  }
  #editProfile p{
    font-size: 1.5rem;
    padding-left: 2rem ;
  }
  #editBtn{
    margin-left: 20%;
  }
}

