#profile{
  display: flex;
  flex-direction: column;
}
button{
  background-color: rgb(179, 221, 245);
  border: 2px solid  rgb(170, 217, 247) ;
  border-radius: 45px;
}
#profile >div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#profile >div:first-child p{
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 1rem;
}
#profile >div:first-child button{
  width: 40%;
  margin-left:  50%;

}
.header img{
  height: 15vw;
  width: 100%;
  border-radius: 10px;
}
.profilePhoto img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.profilePhoto {
  margin-top: -8vw;
  margin-left: 2vw;
}
/*EditProfile*/
#editProfile{
  margin-top: 1vh;

}
.editImg{
  position: relative;
}
.editImg input{
  display: none;
}
.editImg label{
  position:absolute;
  color: rgba(99, 98, 98, 0.438);
}
#editProfile_header label{
  top:20%;
  left:60%
}
#editProfile_photo label{
  top:20%;
  left: 8%;
}

#editProfile > div:first-child{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  justify-content: space-between;
  font-size: 4vw;
}
#editProfile button{
  border: none;
  background-color:initial;
  border-radius: 20px;
  font-size:  1rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 16%;
  padding: 0 5%;
}
#editProfile button:hover{
  background-color:rgb(87, 87, 87) ;
  color: azure;
}
.userName , .introduce{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 3vw;
}
.userName div, .introduce div{
  margin-bottom: 10px;
}
.userName input , .introduce input{
  font-size: 3vw;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5%;
}

/*Profile*/
#profile #profileEditBtn{
  width: 100%;
  font-size: 2vw;
  margin-left: 10%;;
  background-color: ;
}