#root{
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top:0;

}
.dark,
.dark #side {
  background-color: rgba(0, 0, 0, 0.349);
}
#side{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 35%;
  height: 100%;
  padding:3% ;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

#main{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 4vh;
}

label ,button{
  background-color:rgb(194, 225, 250);
  border: none;
  border-radius: 45px;
}
label:hover ,button:hover{
  background-color:rgb(35, 123, 223); 
  color: #ffff;
}
#explain {
  display: none;
}

@media screen and (min-width:1024px) {
  #side{
    width: 20%;
  }
  #main{
    width: 50%;
  }
  #explain{
    display: block;
    width: 30%; 
    margin-top: 8vh;
    padding: 0 1vw;
  }
  #explain > div {
    padding: 2%;
    border: 2px solid  rgb(156, 156, 156);
    border-radius: 10px;
  }
  #explain>div div{
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 1.2rem;
  }
  #explain ul{
    list-style: none;
    padding: 0;
  }
  #explain li {
    margin-top:1.5rem;
  }
  #explain button {
    font-size: 1.2rem;
    background-color: initial;
    text-align: initial;
  }
  #explain button:hover{
    color:rgb(37, 83, 134); 
    font-weight: bolder;
  }
}