#root{
  display: flex;
  height: 100vh;
}
#side{
  width: 30%;
  height: 100%;
  padding:5% ;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

#main{
  display: flex;
  flex-direction: column;
  width: 60%;
}

label ,button{
  background-color:rgb(191, 218, 240);
  border: none;
  border-radius: 45px;
}
label:hover ,button:hover{
  background-color:rgb(35, 123, 223); 
  color: #fff;
}